#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make asyd

override_dh_auto_install:
	install -D -m 0755 bin/asyd \
	    debian/asyd/usr/sbin/asyd
	install -D -m 0644 deploy/asyd.service \
	    debian/asyd/usr/lib/systemd/system/asyd.service
